<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>SplashDash</title>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!-- Start Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'dcss/fonts.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" type="text/css" href="{% static 'dcss/font-awesome.min.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" type="text/css" href="{% static 'dcss/icofont.min.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" href="{% static 'dcss/swiper.min.css' %}?v={{ timestamp }}">
    <!-- Page Specific -->
    <link rel="stylesheet" type="text/css" href="{% static 'dcss/nice-select.css' %}?v={{ timestamp }}">
    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'dcss/style.css' %}?v={{ timestamp }}">
    <link rel="stylesheet" id="theme-change" type="text/css" href="#">
    <!-- Favicon Link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/font-awesome-line-awesome/webfonts/fa-solid-900.woff" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
	
<div class="loader">
  <div class="spinner"><img src="{% static 'images/loader.gif' %}" alt=""/></div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
  <div class="main-content">
    <!-- Page Title Start -->
    <div class="row">
      <div class="col xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-title-wrapper">
          <div class="page-title-box">
            <h4 class="page-title">课程详情</h4>
          </div>
          <div class="breadcrumb-list">
            <ul>
              <li class="breadcrumb-link"><a href="/courses"><i class="fas fa-home mr-2"></i>退出</a></li>
              <li class="breadcrumb-link active">课程详情</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="int-product-single">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="int-thumb-slider">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
             
                <div class="swiper-slide"><img src="{% static 'img/course.png' %}" alt="product-img"></div>

            </div>
          </div>
          <div class="int-minithumb-slider">
            <div class="swiper-container gallery-thumbs">
             

            </div>
            <!-- Swiper -->
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="int-thumb-sidebar">
            <div class="int-price-detail">
              <h1 id="course-name">{课程名称}</h1>
              <ul>
                <li id="teacher_name">{teacher}</li>
                <li></li>
                <li id="academy">{academy}</li>
                <li id="student-number">{student number}</li>
                <li>
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
            <div class="int-thumb-description">
              <ul>
                <li id="number"><span>{Class number}</span>Length(17 inch.),Height(32 inches)</li>
                <li id="capacity"><span>{课程容量}</span>Wooden</li>
                <li id="available"><span>{available}</span>Yellow,Style:Modern</li>
                <li id="address"><span>{address}</span>6 month warranty on manufacturing defects</li>
              </ul>
            </div>
            <div class="int-quantity-style2">
              <div class="int-textbox-subscribe4">
                <p id="total-hours">{Total hours}</p>
                <span>按计划在本学期结课</span>
              </div>
            </div>
            <div class="int-quantity-stock">
              <h5 id="course-time">{Time}:<span>Many In Stock</span></h5>
              <ul>
               

              <li><a href="#" id="joinClassBtn" class="ad-btn">Join the class</a></li>
              <li><a href="#" id="teacher-next" class="ad-btn" style="display: none;">作业管理</a></li>
              <li><a href="#" id="student-next" class="ad-btn" style="display: none;">See homework</a></li>

                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Products Details -->
    <div class="product-detail-wrapper">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="product-detail-tab">
            <ul class="nav nav-tabs">
              <li><a data-toggle="tab" class="active" href="#description">课程描述</a></li>
              
            
            </ul>
            <div class="tab-content">
              <div id="description" class="tab-pane fade show active">
                <div class="int-tab-peragraph">
                  <p><span>Adipisicing elit sed do eiusmod</span> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut auip ex ea coimeeresremodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                  <p><span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</span> sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
              </div>
              <div id="review" class="tab-pane fade">
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
  </div>
</div>
<!-- Slide Setting Box -->
<div class="slide-setting-box">
  <div class="slide-setting-holder">
    <div class="setting-box-head">
      <h4>General Settings</h4>
      <a href="javascript:void(0);" class="close-btn">Close</a></div>
    <div class="setting-box-body">
      <div class="p-4">
        <div class="switch-settings">
          <div class="d-flex mb-3"><span class="mr-auto fs-15">Notifications</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox55" type="checkbox">
              <label for="checkbox55"></label>
            </div>
          </div>
          <div class="d-flex mb-3"><span class="mr-auto fs-15">Show your emails</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox56" type="checkbox">
              <label for="checkbox56"></label>
            </div>
          </div>
          <div class="d-flex mb-3"><span class="mr-auto fs-15">Show Task statistics</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox57" type="checkbox">
              <label for="checkbox57"></label>
            </div>
          </div>
          <div class="d-flex mb-3"><span class="mr-auto fs-15">Show recent activity</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox58" type="checkbox">
              <label for="checkbox58"></label>
            </div>
          </div>
          <div class="d-flex mb-3"><span class="mr-auto fs-15">System Logs</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox59" type="checkbox">
              <label for="checkbox59"></label>
            </div>
          </div>
          <div class="d-flex mb-3"><span class="mr-auto fs-15">Error Reporting</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox60" type="checkbox">
              <label for="checkbox60"></label>
            </div>
          </div>
          <div class="d-flex mb-3"><span class="mr-auto fs-15">Show your status to all</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox61" type="checkbox">
              <label for="checkbox61"></label>
            </div>
          </div>
          <div class="d-flex"><span class="mr-auto fs-15">Keep up to date</span>
            <div class="checkbox checkbox-toggle">
              <input id="checkbox62" type="checkbox">
              <label for="checkbox62"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 border-top border-bottom">
      <h5 class="border-bottom-0 mb-0">Overview</h5>
    </div>
    <div class="p-4">
      <div class="progress-wrapper">
        <div class="mb-3">
          <p class="mb-2">Achieves<span class="float-right text-muted font-weight-normal">95%</span></p>
          <div class="progress h-1">
            <div class="progress-bar bg-primary col-3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="progress-wrapper pt-2">
        <div class="mb-3">
          <p class="mb-2">Projects<span class="float-right text-muted font-weight-normal">65%</span></p>
          <div class="progress">
            <div class="progress-bar bg-secondary col-3" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="progress-wrapper pt-2">
        <div class="mb-3">
          <p class="mb-2">Earnings<span class="float-right text-muted font-weight-normal">55%</span></p>
          <div class="progress">
            <div class="progress-bar bg-success col-8" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="progress-wrapper pt-2">
        <div class="mb-3">
          <p class="mb-2">Balance<span class="float-right text-muted font-weight-normal">50%</span></p>
          <div class="progress h-1">
            <div class="progress-bar bg-warning w-50 " role="progressbar"></div>
          </div>
        </div>
      </div>
      <div class="progress-wrapper pt-2">
        <div class="mb-3">
          <p class="mb-2">Total Profits<span class="float-right text-muted font-weight-normal">80%</span></p>
          <div class="progress">
            <div class="progress-bar bg-info col-6" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
      <div class="progress-wrapper pt-2">
        <div class="mb-3">
          <p class="mb-2">Total Likes<span class="float-right text-muted font-weight-normal">75%</span></p>
          <div class="progress h-1">
            <div class="progress-bar bg-teal w-75" role="progressbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!-- Color Setting -->
<div id="style-switcher">
  <div>
    <ul class="colors">
      <li>
        <p class='colorchange' id='color'></p>
      </li>
      <li>
        <p class='colorchange' id='color2'></p>
      </li>
      <li>
        <p class='colorchange' id='color3'></p>
      </li>
      <li>
        <p class='colorchange' id='color4'></p>
      </li>
      <li>
        <p class='colorchange' id='color5'></p>
      </li>
      <li>
        <p class='colorchange' id='style'></p>
      </li>
    </ul>
  </div>
  <div class="bottom"><a href="" class="settings"><i class="fa fa-cog" aria-hidden="true"></i></a></div>
</div>
<!-- Color Setting -->
<!-- Script Start -->
<script src="{% static 'djs/jquery.min.js' %}"></script>
<script src="{% static 'djs/popper.min.js' %}"></script>
<script src="{% static 'djs/bootstrap.min.js' %}"></script>
<script src="{% static 'djs/swiper.min.js' %}"></script>
<!-- Page Specific -->
<script src="{% static 'djs/nice-select.min.js' %}"></script>
<!-- Custom Script -->
<script src="{% static 'djs/custom.js' %}"></script>
<script>
function getCourseNumberFromPath() {
    const path = window.location.pathname;
    const regex = /\/course\/(\d+)\//;
    const match = path.match(regex);
    if (match) {
        return match[1];
    } else {
        return null;
    }
}

$(document).ready(function() {
    var courseId = getCourseNumberFromPath();
    if (courseId) {

        $.ajax({
            type: 'GET',
            url: `/api/courses/${courseId}`,
            contentType: 'application/json',
            success: function(course) {
                $('#id').html(`<strong>ID:</strong> ${course.id}`);
                $('#number').html(`<strong>课程号:</strong> ${course.number}`);
                $('#description').html(`<strong>课程描述:</strong> ${course.description}`);
                $('#teacher_name').html(`<strong>教师:</strong> ${course.teacher_name}`);
                $('#academy').html(`<strong>Academy:</strong> ${course.academy}`);
                $('#address').html(`<strong>地点:</strong> ${course.address}`);
                $('#capacity').html(`<strong>课程容量:</strong> ${course.capacity}`);
                $('#available').html(`<strong>课程余量:</strong> ${course.capacity - course.student.length}`);
                $('#course-name').html(`<strong>课程名称:</strong> ${course.name}`);
                $('#start_time').html(`<strong>Start Time:</strong> ${course.start_time}`);
                $('#total-hours').html(`<strong>总学时:</strong> ${course.total_class_hours} hours`);
                $('#course-time').html(`<strong>上课时间:</strong> ${course.day_of_week} ${course.start_time} - ${course.end_time}`);
                $('#student-number').html(`<strong>选课人数:</strong> ${course.student.length}`);
                
                var studentsList = '';
                course.student.forEach(function(studentId) {
                    // 这里假设你有办法获取学生名字，使用学生ID只是为了展示
                    studentsList += `<li>Student ID: ${studentId}</li>`;
                });
                $('#student-list').html(studentsList);
            },
            error: function(response) {
                console.log('Failed to fetch course details:', response);
            }
        });
    } else {
        console.log('Course ID not found in the URL.');
    }
});
</script>
<script>
	
</script>
<script>
	document.getElementById('joinClassBtn').addEventListener('click', function(event) {
	    event.preventDefault();
	
	    // 从 localStorage 获取学生ID
	    const localStorageUserId = localStorage.getItem('user_id');
	    if (!localStorageUserId) {
	        alert('No user ID found in localStorage. Please log in first.');
	        return;
	    }
	
	    // 获取课程ID，例如从URL或其他地方
	    const courseId = getCourseNumberFromPath(); // 假设这个函数已经定义好获取课程ID
	
	    if (!courseId) {
	        alert('No course ID found.');
	        return;
	    }
	
	    // 发送 GET 请求获取学生列表
	    fetch('/api/students', {
	        method: 'GET',
	        headers: {
	            'Content-Type': 'application/json',
	            'X-CSRFToken': getCookie('csrftoken') // 包含 CSRF token
	        }
	    })
	    .then(response => {
	        if (response.ok) {
	            return response.json();
	        } else {
	            throw new Error('Failed to fetch students list.');
	        }
	    })
	    .then(studentsList => {
	        const student = studentsList.find(student => student.user === parseInt(localStorageUserId));
	        if (!student) {
	            alert('Student not found. Please ensure you are logged in with a student account.');
	            return;
	        }
	
	        const data = {
	            student: student.id
	        };
	
	        return fetch(`/api/courses/${courseId}/add_student`, {
	            method: 'POST',
	            headers: {
	                'Content-Type': 'application/json',
	                'X-CSRFToken': getCookie('csrftoken') // 包含 CSRF token
	            },
	            body: JSON.stringify(data)
	        });
	    })
	    .then(response => {
	        if (response.ok) {
	            return response.json();
	        } else {
	            throw new Error('Failed to add student to the course.');
	        }
	    })
	    .then(data => {
	        if (data.status === 'student added') {
	            alert('Student successfully added to the course.');
	        } else {
	            alert('Failed to add student: ' + data.status);
	        }
	    })
	    .catch(error => {
	        console.error('Error:', error);
	        alert('An error occurred: ' + error.message);
	    });
	
	    function getCourseNumberFromPath() {
	        const path = window.location.pathname;
	        const regex = /\/course\/(\d+)\//;
	        const match = path.match(regex);
	        if (match) {
	            return match[1];
	        } else {
	            return null;
	        }
	    }
	
	    function getCookie(name) {
	        let cookieValue = null;
	        if (document.cookie && document.cookie !== '') {
	            const cookies = document.cookie.split(';');
	            for (let i = 0; i < cookies.length; i++) {
	                const cookie = cookies[i].trim();
	                if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                    break;
	                }
	            }
	        }
	        return cookieValue;
	    }
	});

</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const userId = localStorage.getItem('user_id');
    if (!userId) {
        alert('No user ID found in localStorage. Please log in first.');
        return;
    }

    const courseId = getCourseNumberFromPath();
    if (!courseId) {
        alert('No course ID found.');
        return;
    }

    // 检查用户是否是学生
    fetch('/api/students', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken') // 包含 CSRF token
        }
    })
    .then(response => {
        if (response.ok) {
            return response.json();
        } else {
            throw new Error('Failed to fetch students list.');
        }
    })
    .then(studentsList => {
        const student = studentsList.find(student => student.user === parseInt(userId));
        if (student) {
            // 如果用户是学生，检查是否已经加入课程
            fetch(`/api/courses/${courseId}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // 包含 CSRF token
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch course details.');
                }
            })
            .then(course => {
                const studentJoined = course.student.includes(student.id);
                if (studentJoined) {
                    const joinClassItem = document.getElementById('joinClassBtn');
                    if (joinClassItem) {
                        joinClassItem.style.display = 'none';
                    }
                    //showMessage('You have already joined this course.', 'success');
                    students_target_info(student, course);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                //showMessage('An error occurred: ' + error.message, 'error');
            });
        } else {
            // 如果用户不是学生，检查是否是老师
            fetch('/api/teachers', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // 包含 CSRF token
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch teachers list.');
                }
            })
            .then(teachersList => {
                const teacher = teachersList.find(teacher => teacher.user === parseInt(userId));
                if (teacher) {
                    // 如果用户是老师，调用 teachers_target_info 函数
                    teachers_target_info(teacher, courseId);
                } else {
                    alert('User is neither a student nor a teacher.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                //showMessage('An error occurred: ' + error.message, 'error');
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showMessage('An error occurred: ' + error.message, 'error');
    });

    function getCourseNumberFromPath() {
        const path = window.location.pathname;
        const regex = /\/course\/(\d+)\//;
        const match = path.match(regex);
        if (match) {
            return match[1];
        } else {
            return null;
        }
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function showMessage(message, type) {
        const messageDiv = document.getElementById('responseMessage');
        messageDiv.textContent = message;
        messageDiv.className = type; // 你可以通过CSS设置不同类型消息的样式
    }

 function students_target_info(student, course) {
        // 显示学生特定的按钮
		const joininfo = document.getElementById('joinClassBtn');
        const studentNextItem = document.getElementById('student-next');
        if (studentNextItem) {
			joininfo.style.display = 'none';
            studentNextItem.style.display = 'block';
            document.getElementById('student-next').addEventListener('click', function(event) {
                event.preventDefault();
                // 跳转到学生特定的新界面
                window.location.href = `/course/${course.id}/student/${student.id}`;
            });
        }
    }

    function teachers_target_info(teacher, courseId) {
        // 显示老师特定的按钮
		const joininfo = document.getElementById('joinClassBtn');
        const teacherNextItem = document.getElementById('teacher-next');
        if (teacherNextItem) {
			joininfo.style.display = 'none';
            teacherNextItem.style.display = 'block';
            document.getElementById('teacher-next').addEventListener('click', function(event) {
                event.preventDefault();
                // 跳转到老师特定的新界面
                window.location.href = `/course/${courseId}/teacher/${teacher.id}/`;
            });
        }
    }
});

</script>
</body>
</html>
