<!DOCTYPE html>
<html>
<head>
    <title>提交作业</title>
</head>
<body>
    <h1>提交作业</h1>
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="nqmTFjcay7Vw33EiCsKEEFHbJOiXvvhILKYFx2hu2JwRzTbiYWvJKPMuqHkbB7zF">
        <ul class="errorlist"><li>This field is required.</li></ul>
  <p>
    <label for="id_student">Student:</label>
    <select name="student" required aria-invalid="true" id="id_student">
  <option value="" selected>---------</option>

  <option value="1">BaiLei</option>

</select>
    
    
  </p>

  <ul class="errorlist"><li>This field is required.</li></ul>
  <p>
    <label for="id_homework">Homework:</label>
    <select name="homework" required aria-invalid="true" id="id_homework">
  <option value="" selected>---------</option>

  <option value="4">飞机大战</option>

</select>
    
    
  </p>

  
  <p>
    <label for="id_content">Content:</label>
    <textarea name="content" cols="40" rows="10" id="id_content">
function merge(nums1, m, nums2, n) {
    let i = m - 1;
    let j = n - 1;
    let k = m + n - 1;
    while (j &gt;= 0) {
        if (i &gt;= 0 &amp;&amp; nums1[i] &gt; nums2[j]) {
            nums1[k--] = nums1[i--];
        } else {
            nums1[k--] = nums2[j--];
        }
    }
    return nums1;
}</textarea>
    
    
      
    
  </p>
        <button type="submit">提交</button>
    </form>
    
        <p style="color: red;">提交内容无效</p>
    
</body>
</html>
